.svn/
.DS_Store
.*.swp
.*.swo
.viminfo
.Trash/
.DS_Store/
.ssh/
vimwiki/
.vimprojects
foo.*
.vim-fuf
.gitconfig
.swp
.*.local
*.so
*.exe
*.swf
*.zip
.netrwhist
.VimballRecord
.todo.txt
tmp/
FILES.txt
tags
ftags
.local/
*.tgz
*.zip
AsNeeded/ANmenu
AsNeeded/ANtags
*.jax
blog/linsong.github.com/
temp
passwords.vim
plugin/ANcmds.vim
bundle/**/.git
doc/tags-ja
manualload/vimim.pinyin_fcitx.txt
.serverauth.*
.swn
.swo
.sw?
.awssecret
sessions
*.pyc
*.wcd
active_mail_setting
aliases
colours
msearch.sh
muttrc.mailboxes
